.cart-image {
  width: 100%;
  /* border-radius: 80% !important; */
  margin-left: 0 !important;
}

.cart-h3 {
  font-size: 16px;
  font-weight: 100;
  color:rgb(189 189 189)
}

.cart_dropdown{
  background-color: transparent;
  display: flex;
  margin: auto;
  width: 4px !important;
  border-radius: 12px;
} 

.cart_dropdown .dropdown-item {
  width: 2px;
}
.cart_dropdown{
    min-width: 3rem !important;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px dashed black;
    padding: 8px;
    text-align: left;
    font-weight: 500;
  }
  
  th {
    /* background-color:; */
    font-weight: 500;

  }
  
  td:last-child {
    font-weight: 300;
    text-align: right;
  }
  
  input[type="submit"] {
    background-color:var(--KIDS--COLOR);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .dashed-border {
    border: 2px dashed #333;
    padding: 70px;
  }
.cart-border{
    border: 2px dashed rgb(189 189 189);
    border-radius: 20px;
}
  
.cart-end-tag{
    margin-top: 30px;
}

.cart-border{
  border:1px #dee2e6 solid
}
.cart-foot-top{
    border-top: 1px solid rgb(189 189 189);
    width: 100%;
}

.cart-text-color{
  color: #df0067 !important;
}

.cart-data{
  border-bottom: 1px solid #eaeaea;
}

.cart-col-1{
  width: 40%;
}

.cart-col-2{
  width: 18%;
}

.cart-col-3{
  width:15%
}

.cart-col-4{
width: 15%;
}

.cart-button{
  background-color: #c1cdcd;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 33px;
  border-radius:25px ;
}


.cart-details-button{
  padding: 10px 30px;
  width: 100%;
  background-color: #df0067;
  border-radius: 20px;
  color: white;
  font-size: 18px;
}