
/******** Colors component **********/

.colors li {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 10px;
  }


  .colors {
    /* list-style-type: none; 
  display: flex; */
    flex-wrap: wrap;
    line-height: 30px;
    gap: 10px;
  }

  /* dropdown in singleproduct */
  .otherinfo{
    color: #DF0067;
  }

  /* single products image  */

  .selected {
    border: 3px solid rgb(0, 255, 81);  
  }


  /* addtocart */
  .discount{
    color:rgb(10, 206, 72) !important ;
  }
  
  .addtobag{
    background-color:#DF0067;
  /* justify-content: center; */
  /* margin: auto; */
  /* display: flex !important; */
  }
  .payment img{

  height: 50px;


  }
  /* stepper */
  .stepperhead{
  margin-left: 30px;
  
  }
/* Wishlist */
.card{
border-radius:12px !important ;
}

/* stepperHeader */
.stepperword{
  color: red
}

  /* **********Colors Components End*********** */

