.header--search {
  position: relative;
}
#root {
  font-family: "Kanit", sans-serif !important;
}

.header__button1 {
  font-weight: bold !important;
  font-size: 20px !important;
  padding: 5px !important;
}
.header__button1:hover {
  border-radius: 0 !important;
  border-bottom: 5px solid var(--MENS--COLOR) !important;
}
.header__button2 {
  font-weight: bold !important;
  font-size: 20px !important;
  padding: 5px !important;
}
.header__button2:hover {
  border-radius: 0 !important;
  border-bottom: 5px solid var(--WOMEN--COLOR) !important;
}
.header__button3 {
  font-weight: bold !important;
  font-size: 20px !important;
  padding: 5px !important;
}
.header__button3:hover {
  border-radius: 0 !important;
  border-bottom: 5px solid var(--KIDS--COLOR) !important;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: #df0067;
}

.header__input--search {
  width: 90%;
  padding: 10px;
  outline: none;
  border-radius: 20px;

  border: 1px solid black;
}
.header__input--search {
  color: #b4b4b4;
  padding-left: 35px;
}
.header__icon {
  position: absolute;
  top: -3px;
  left: 25px;
  font-size: 30px;
  color: #b4b4b4;
}

/* Dropdown */
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  width: 800px;
}
.header__Womens {
  width: 600px;
}
.Headers__menus li {
  font-size: 13px;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.header_padding {
  background-color: #ffffff;

  /* !important ; */
  filter: drop-shadow(0 0 10px #ffaad1);
  padding: 20px;
}
.whislist_horziation {
  margin: 0 !important;
}
.header_logo {
  width: 70%;
}

/* //Footer CSS */
li {
  cursor: pointer;
}

.footer_details2 {
  text-align: center;
}
.footer__image2 {
  width: 50%;
}

.footer__image {
  width: 20%;
  margin: auto;
}

.footer__details1 {
  margin-right: 200px !important;
}
.footer_customer {
  margin-left: 120px;
}
.footer__followus {
  text-align: center;
  cursor: pointer;
}

.footer_users {
  display: flex;
  justify-content: space-around;
}
.footer_background {
  background-color: var(--FOOTER-BACKGROUND);
}

.header__sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.header__sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.header__sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* //Home */
.home_pondicherry {
  color: transparent;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke: 1px #ffffff;
  font-weight: bold;
}
.home_page_welcome {
  background-image: url(../assets/image/welcome.png);

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 120px;

  border-radius: 20px;
  margin-top: 40px;
}
.home_page_pondicherry {
  font-size: 100px;
  font-weight: bold;
  color: white;
}
.home_top_brands {
  background-image: url(../assets/image/welcomepondi.png);

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100px;

  border-radius: 20px;
}
.home_top_content {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.home_top_shopping {
  color: transparent;
  margin-top: 2px;
  font-size: 30px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 3px;
  -webkit-text-stroke-color: #cd6eea;

  -webkit-text-stroke: 1px #cd6eea;
  transform: skewX(15deg) rotate(-2deg);
}
.home_rating_top {
  margin-top: 20px;
  background-image: url(../assets/image/background_home1.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  padding: 20px;

  border-radius: 20px;
}
.payment_details {
  border: 2px dashed #9E9E9E;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}
.home_rating_content {
  overflow: hidden;
  border-radius: 20px;
}
.home_rating_details {
  position: relative;
}
.home_details_img1 {
  overflow: hidden;
  border-radius: 25px;
}
.orderpalced_btn {
  padding: 10px 80px;
  outline: none;
  background-color: #df0067;
  color: white;
  font-weight: 600;
  border: 1px solid #df0067;
  border-radius: 10px;
}

.orderplaced_img {
  animation: orderplaced 2s linear infinite;
}
@keyframes orderplaced {
  0% {
    transform: scale(0.75);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.75);
    opacity: 1;
  }
}
.payment_page_design {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 10px;
}

.home_details_img {
  width: 80%;
  margin: auto;
  padding-top: 20px;

  margin-top: 10px;
}
.home_details_img1 img {
  transition: 0.8s linear;
}
.home_details_img1 img:hover {
  transform: scale(1.1);
}
.home_rating_content1 {
  position: absolute;
  top: 75%;
  left: 30%;
  color: white;
}
.home_rating_content2 {
  position: absolute;
  top: 75%;
  left: 25%;
  color: white;
}
.home_carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_slides {
  width: 100%;
  min-height: 500px;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
}
.home_total_indicator {
  display: flex;
  position: absolute;
  top: 100%;
}

.home_slides_hidden {
  display: none;
}
.home_indicator {
  background-color: black;
  cursor: pointer;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 100%;
  outline: none;
  border: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0px 8px 8px 0px;
}
.home_indicator_active {
  background-color: white;
  box-shadow: 0px 0px 5px #555;
}

p {
  margin-bottom: 0px !important;
}

.home_geniune_product2 {
  width: 20%;
}
.home_geniune_product3 {
  margin-top: 10px;
  color: white;
  font-size: 28px;
}

.home_geniune_product1 {
  padding: 20px;
}
.home_geniune_product_img {
  width: 20%;
}
.home_geniune_product_img1 {
  width: 20%;

  margin: 10px;
}
.home_geniune_product_img3 {
  width: 20%;
}
.home_geniune_border {
  border-right: 5px solid white;
}

.home_geniune_product {
  background-image: url(../assets/image/home_genuis_product.jpeg);
  background-size: cover;
  margin-top: 60px;
  border-radius: 20px;
  min-height: 120px;
}

.home_rating_content img {
  transition: 0.5s linear;
}
.home_rating_content img:hover {
  transform: scale(1.1);
}
.home_flat_img {
  width: 100%;
}
.home_flat_useCode_onallproduct_detail {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #fff;
}
.home_flat_background {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 20px;
}
.home_onallproduct_ {
  font-size: 25px;
  font-weight: 100;
}
.home_flat_useCode_onallproduct {
  position: relative;
}
.home_flat_useCode_onallproduct1 {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
}
.header_beast_offers {
  margin-top: 20px;
  background-image: url(../assets/image/888.jpeg);
  background-size: cover;
  min-height: 120px;
  border-radius: 20px;
}
.home_mens--upto1 {
  position: relative;
}
.home_onallproduct_1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}
.whislist_button {
  margin-top: 0;
  text-align: center;
  padding: 3px 0px;
}
.whislist_content {
  padding: 5px 20px !important ;
}
.whislist_content_1 {
  position: relative;
}
.whislist_content_icon {
  position: absolute;
  top: 0;
  right: 10px;
}
.whislist_button_color {
  color: #df0067;
  font-weight: 600;
  font-size: 17px;
}

.home_rating_borders {
  background-image: url(../assets/image/border_img.jpeg);
  background-size: cover;
  min-height: 120px;
  padding: 20px;
}

.home_top_offers {
  letter-spacing: 5px;
  font-size: 40px;

  padding-left: 120px;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  color: white;

  transform: skewX(15deg) rotate(-1deg);
}
.home_mens-details {
  width: 80%;
  overflow: hidden;
  border-radius: 20px;
  margin: auto;
}
.home_mens-details1 {
  width: 80%;

  position: absolute;
  top: 75%;
  left: 10%;
}

.home_mens-details img {
  transition: 0.8s;
}
.home_mens--wear {
  display: flex;

  background-color: white;
  position: absolute;
  top: 80%;
  left: 15%;
}
.home__content-mens {
  border: 1px solid black;
  padding: 10px;
}

.home_mens-details img:hover {
  transform: scale(1.2);
}
.header_beast_arrive {
  margin-top: 40px;
  background-image: url(../assets/image/fresharrive.jpeg);
  background-size: cover;
  min-height: 120px;
  border-radius: 20px;
}
.home_end_of_season1 {
  margin-top: 40px;
  width: 100%;
  position: relative;
}
.home_end_of_data {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0px;
}

.home_flat_useCode1 {
  margin-top: 40px !important;
}
.home_end_of_data1 {
  width: 100%;
  height: fit-content;
  margin-top: 300px;
  padding: 10px 0px;
  background-color: #111;
}
.home_price {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  font-size: 60px !important;
}
.rfm-marquee-container {
  overflow: hidden;
}
.home_price_cash {
  color: white;
}
.home_top_offer {
  font-weight: bold;
}
.home_top_offers1 {
  color: transparent;
  font-weight: bold;
  padding-left: 150px;
  font-size: 35px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke: 1px black;
  transform: skewX(15deg) rotate(-1deg);
}
.home_winter_details {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.home_font_size {
  font-size: 30px;
}
.home_font_weight {
  font-size: 30px !important;
  font-weight: bold;
}
.home_winders_kids {
  position: relative;
}
.home_winter_details1 {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 75%;
  color: white;
}
.home_background_details {
  background-image: url(../assets/image/home_cart_image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  min-height: 300px;
  border-radius: 20px;
}
.home_details_content1 {
  text-align: center;
  margin-top: 10px;
  color: white;
}
.home_total_details {
  margin: 40px 0px !important;
}
.home_winter_details img {
  transition: 0.8s linear;
}
.home_winter_details img:hover {
  transform: scale(1.2);
}
.home_shop_category {
  background-image: url(../assets/image/home_shopping.jpeg);
  background-size: cover;
  min-height: 120px;
  border-radius: 20px;
  margin: 40px 0px !important;
}
.home_shop_category1 {
  text-align: center;
  margin-top: 20px;
}
.home_shop_category2 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.home_off {
  display: flex;
  gap: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}
.home_geniune_border_content {
  color: #fff;
  font-size: 25px;
}
.home_junior {
  margin-top: 40px;
  background-image: url(../assets/image/for_junior.jpeg);
  background-size: cover;
  min-height: 120px;
  border-radius: 20px;
}
.otp_font_welcome {
  text-align: center !important;
  font-weight: 200;
  padding-top: 20px;
}
.otp_welcome_img {
  margin: auto;
  width: 40%;
}
.otp_page_scroll {
  margin: auto !important;
}
.otp_box {
  border-radius: 20px;
  background-color: #fff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.otp_font_padding {
  margin-top: 20px;
  padding: 20px;
}
.otp_background {
  background-color: #fdd8e9;
  min-height: 100vh;
  width: 100%;
}
.login_input {
  margin: 10px 0px !important;
  border: 1px solid gray;
  width: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  padding-left: 60px;
}
.login_input:focus-visible {
  outline: none;
}
.login_input1 {
  position: relative;
}
.login_button {
  border: 1px solid var(--KIDS--COLOR);
  padding: 10px 150px;
  width: calc(100% -300px);
  border-radius: 15px;
  background-color: var(--KIDS--COLOR);
  color: white;

  font-size: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.login_size {
  font-size: 14px;
}
.login_error1 {
  border: 1px solid red;
}
.login_success_1 {
  border: 1px solid green;
}
.login_label_2 {
  position: absolute;
  top: 14px;
  left: 20px;
}
.login_label_3 {
  position: absolute;
  top: 14px;
  right: 50px;
}
.login_color {
  color: var(--KIDS--COLOR);

  font-weight: bold;
}
.login_label_1 {
  position: absolute;
  top: 21px;
  left: 20px;
}
.login_label {
  border-right: 1px solid gray;
  padding-right: 5px;
}

.login_font_padding {
  padding: 40px;
}
.deliverydetails_input_fild {
  border: 1px solid black;
  outline: none;
  padding: 10px;
  width: 100%;
  border-radius: 15px;
}
.delviery_details_row {
  margin: 0 !important;
}
.orderplaced_height {
  height: 100vh;
}
.Delviery_Details_label {
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
}

.deliverydetails_radio-button21 {
  display: none;
}
.otp_page_padding {
  padding-top: 7%;
}
.delivery-details_button{
  padding: 15px 20px;
  width: 100%;
  background-color: #df0067;
  border-radius: 15px;
  color: white;
  font-size: 18px;
}

.deliverydetails_input_fild::placeholder {
  padding-left: 20px;
}
@media screen and (max-height: 450px) {
  .header__sidenavsidenav {
    padding-top: 15px;
  }
  .header__sidenavsidenav a {
    font-size: 18px;
  }
  .footer__details1 {
    margin-right: 200px !important;
  }
}

@media only screen and (max-width: 600px) {
  .footer_customer {
    margin-left: 0;
  }
  .footer_background {
    background-color: var(--FOOTER-BACKGROUND);
    height: 600px;
  }
  .footer__followus {
    margin-top: 50px !important;
  }
  .footer__details1 {
    margin-right: 0 !important;
  }
  .footer__image {
    width: 70%;
  }
  .footer__image2 {
    margin-top: 20px;
    margin-left: 82px;
  }
  .footer_shopping {
    margin-left: 110px;
  }
  .header__icon {
    left: 20px;
  }
  .header_mobile_menu {
    width: 200px;
  }
  .header__mobile--mens {
    color: white !important;
    padding: 8px 8px 8px 32px !important;
    font-size: 20px !important;
  }
  .header_mobile_menu {
    background: white !important;
  }
  .header__mobile--content {
    color: black;
  }
  .home_page_pondicherry {
    font-size: 25px;
    padding-top: 10px;
  }
  .home_page_welcome {
    min-height: 60px;
  }
  .home_top_brands {
    min-height: 60px;
  }
  .home_top_content {
    font-size: 25px;
  }
  .home_top_shopping {
    font-size: 20px;
    transform: skewX(10deg) rotate(-1deg);
  }
  .home_slides {
    margin-top: 30px;
    min-height: 250px;
  }
  .home_geniune_border {
    border-right: none;
  }
  .home_geniune_border_content {
    font-size: 15px;
  }
  .home_geniune_product_img1 {
    margin: 10px 0px 10px 36px;
  }
  .home_geniune_product_img3 {
    margin: 10px 0px 10px 50px;
  }
  .home_shop_category2 {
    font-size: 30px;
    padding-top: 5px;
  }
  .home_top_offers1 {
    font-size: 20px;
    padding-left: 20px;
  }
  .home_junior {
    min-height: 70px;
  }
  .header_beast_arrive {
    min-height: 70px;
  }
  .home_top_offers {
    font-size: 20px;
    padding-left: 20px;
  }
  .header_beast_offers {
    min-height: 70px;
    border-radius: 20px;
  }

  .home_shop_category {
    min-height: 70px;
  }
  .home_background_details {
    margin: auto;
  }
  .login_button {
    padding: 10px 80px;
  }
  .login_input {
    width: 100%;
  }
  .login_label_3 {
    right: 13px !important;
  }
  .otp_page_padding {
    padding-top: 80px !important;
  }
}
@media only screen and (max-width: 800px) {
  .login_label_3 {
    right: 70px !important;
  }
}
