/* ******ourStore Page *********/

.ourStore-filter-card ul {
    color: var(--color-777777);
    line-height: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid  rgba(119, 119, 119, 0.4) ;
    width: 100%;
    padding-bottom: 20px;
  
  }
  .ourStore-filter-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 20px;
  }
  
  .outStore-brand-card ul {
    color: var(--color-777777);
    line-height: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid  rgba(119, 119, 119, 0.4) ;
    padding-bottom: 20px;
  }
  .ourcheck{
    margin-right: 10px;

  }
  
  .ourStore-brand-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 20px;
  }
  
  .ourStore-price-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 20px;
  }
  
  .ourStore-color-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 20px;
    margin-bottom: 15px !important;
  }
  
  .ourStore-color {
    border-bottom: 1px solid  rgba(119, 119, 119, 0.4) ;
    padding: 20px 0;
  }
  
  .ourStore-discount-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 20px;
  }
  
  .li-gap li {
    margin-bottom: 15px !important;
  }
  .price-range {
    border-bottom: 1px solid  rgba(119, 119, 119, 0.4) ;
  }
  .ourStore-price-gap {

    
    border-bottom: 1px solid  rgba(119, 119, 119, 0.4) ;
    
   padding-bottom: 20px;
  }
  
  .ourStore-discount {
    border-bottom: 1px solid  rgba(119, 119, 119, 0.4) ;
  }
  
  .filter-sort-grid {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }
  .sort-store {
    background-color: var(--FOOTER-BACKGROUND);
    height: 40px;
    width: 200px !important;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
  .ourStore-stock {
    color: var(--color-777777);
    font-size: 13px;
  }
  
  .ourStore-border-right {
    border-right: 1px  rgba(119, 119, 119, 0.4) solid;
  }
  .ourStore-border-top {
    border-top: 1px  rgba(119, 119, 119, 0.4)  solid;
    border-bottom: 1px  rgba(119, 119, 119, 0.4)  solid;
    margin-bottom: 20px;
  
  }
  
  .ourStore-pagination {
    /* margin-top: 100px; */
    width: 100% !important;
    display: flex;
    justify-content: space-between ;
  }
  
  .ourStore-page {
    color: var(--color-777777);
    width: calc(50% - 15px);
    font-size: 13px;
    display: flex;
    align-items: center;
  }
  
  .ourStore-page-number {
    width: 50%;
    display: flex;
    justify-content: end;
  }
  
  /* Styles for devices with a width of 1080 pixels or less */
  
  @media only screen and (max-width: 1080px) {
    .ourStore-border-right {
      display: none;
    }
    .ourStore-breadcrumb {
      display: none;
    }
    .ourStore-product-render {
      overflow-y: hidden;
    min-width: 100%  !important;
  
    }
    .ourStore-pagination{
      width: 100% !important;
    }
    .ourStore-page-number{
      width: 20% ;
    }
    

   
  
  }
  
  .page-link {
    color: rgb(52, 52, 52) !important;
    border-style: none !important;
    
  }
  .Page {
    border-radius: 70px !important;
  }
  
  .ourstore-filter {
    font-size: 12px;
    font-weight: 0;
    color: var(--color-777777);
  }
  #nextpg{
    border: 1px solid  rgb(3, 3, 3) !important;
    border-radius: 15px;
    width: 120%;
    
    text-align: center;

  }
  
  .ourstore-category-filter,
  .ourstore-brand-filter,
  .ourstore-discount-filter {
    font-size: 13px;
    color: var(--color-1c1c1b);
    font-weight: 100;
  }
  
  
  .ourStore-product-render{
    overflow-y: scroll;
  }
  
  .ourStore-product-render::-webkit-scrollbar{
    width: 0px;
  }


/* ourstore category searchbar */
/* categories search bar */
.searchstore {

border: 2px solid black;

}

.searchstore:focus {
  border: 2px solid black;
border-style: none;
}
.searchstores {

  border: 2px solid black;
  
  }
  
  .searchstores:focus {
    border: 2px solid black;
  border-style: none;
  }
.ourStore_input{
  transition: linear 0.3s;
}


.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin-right: 5px; /* Add a gap between each button */
}

.page-link {
  border-radius: 5px; /* Set a border radius for the page links */
  padding: 5px 10px; /* Add padding for better appearance */
}

.page-item:last-child .page-link {
  border-radius: 20px; /* Set a border radius of 20px for the last page link (Next button) */
}

  /* *******       ourStore  component End's ********* */