/* .productViewerSection{
    width: 100%;
    padding: 10px;
    margin: 30px;
}
.columeOne{
    flex: 1;
    padding: 6px;
}
.columeTwo{
    flex: 5;
}
.curstor-point-default{
    cursor: default !important;
}
.productRow{
    width: 85%;
     padding: 2px;
     margin-bottom: 15px;
     cursor: pointer;
     img{
        display: block;
        width: 100%;
     }   
}

.displayproduct{
    background-color: #fff;
    overflow: hidden;
    align-items: center;
    margin-bottom: inherit;
    position: relative;
    cursor: pointer;

    div{
        img{
            display: black;
            width: 100%;
        }
    }
}
.Productview_namesdetils{
    color: rgb(113,113,113);
}
.ratings{
    color: rgb(52,52,52);
}
.product-rating{
    font-size: 12px !important;
}
.product-inclusive{
    color: rgb(24, 174, 74);
}
.product-sizes{
    border: 1px solid #000;
    border-radius: 50%;
    padding: 10px;
    width: 44px !important;
    text-align: center !important;
}
.productview_add{
    background-color: #DF0067;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
}
.product_wishlist{
    background-color: rgb(180, 180, 180);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
}

.product_details_items{
    margin-top: 20px;
}
.product_details_item{
    list-style: none;
    margin: auto;
    padding: inherit;
}

@media only screen and (max-width: 400px) {
    .product_sizes_dives{
        margin-left: 12px !important;
    }
}   */

.singleProduct_content {
  color: gray;
  font-size: 19px;
  font-weight: 100;
}

.singleProduct-breadcrumb {
  color: var(--color-777777) !important;
  font-size: 16px;
  font-weight: 100;
}
.singleProduct_amount {
  font-size: 25px;
  font-weight: 500;
}
.singleProduct_size {
  padding: 15px;
  border: 1px solid var(--color-777777);
  border-radius: 50%;
}
.singleProduct_size1 {
  padding: 15px 20px;
  border: 1px solid var(--color-777777);
  border-radius: 50%;
}
.single_product_border:hover {
  border-color: var(--KIDS--COLOR);
  cursor: pointer;
}
.single-product-button {
  background-color: var(--KIDS--COLOR);
  color: white;
  font-size: 14px;
  font-weight: 300;
  padding: 13px 33px;
  border-radius: 10px;
  margin-bottom: 0;

}

.single-product-button1 {
  background-color: var(--color-777777);
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 33px;
  border-radius: 10px;
}

.singleproduct-product-info {
  font-weight: 100;
  color: --color-777777;
}
.button1-background {
  background-color: var(--KIDS--COLOR);
  border: none !important;
}
.button2-background {
  background-color: var(--color-777777);
  border: none !important;
}
@media only screen and (max-width: 1080px) {
  .singleproduct-main-image {
    height: 300px;
    width: 200px;
  }

 .single-product-bread{
  display: none;
 }
  .singleproduct-main-image {
    margin-left: 10px;
  }
  .singleProduct_content,
  .singleProduct_amount,
  .single_product_border,
  .specialproduct-addtobag {
    font-size: 13px;
  }
}
