:root {
    --FOOTER-BACKGROUND: #eaebed;
    --MENS--COLOR: #56ddff;
    --WOMEN--COLOR: #fcb03f;
    --KIDS--COLOR: #df0067;
    --color-232f3e: #232f3e;
    --color-777777: #777777;
    --color-1c1c1b: #1c1c1b;
    --color-ededed: #ededed;
  }


 
  .error{
    color: red;
    font-size: 12px;
  }

  .image-preview{
    height: 120px;
    width: 120px;
    object-fit: cover;
    margin: 2px;
  }

  @keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
