:root {
    --FOOTER-BACKGROUND: #eaebed;
    --MENS--COLOR: #56ddff;
    --WOMEN--COLOR: #fcb03f;
    --KIDS--COLOR: #df0067;
    --color-232f3e: #232f3e;
    --color-777777: #777777;
    --color-1c1c1b: #1c1c1b;
    --color-ededed: #ededed;
  }


 