:root {
  --FOOTER-BACKGROUND: #eaebed;
}

li{
    cursor: pointer;
}
#root{
    font-family: 'Kanit', sans-serif;
}
.footer_details2{
    text-align: center;
}
.footer__image2{
    width: 50%;
}

.footer__image{
    width: 20%;
    margin: auto;
}
.footer__content1{
   
}
.footer__details1{
    margin-right: 200px !important;
}
.footer_customer {
  margin-left: 120px;
}
.footer__followus{
    text-align: center;
    cursor: pointer;
}

.footer_users{
    display: flex;
    justify-content: space-around;
}
.footer_background {
  background-color: var(--FOOTER-BACKGROUND);
}

@media only screen and (max-width: 600px) {
  .footer_customer {
    margin-left: 0;
  }
  .footer_background {
    background-color: var(--FOOTER-BACKGROUND);
    height: 600px;
  }
  .footer__followus{
    margin-top: 50px !important;
}
.footer__details1{
    margin-right: 0 !important;
}
.footer__image{
    width: 40%;
}
.footer__image2{
    margin-top: 20px;
    margin-left: 82px;
}
.footer_shopping{
    margin-left: 122px;
}
}
